* {
    font-family: sans-serif;
    background: #2496ED;
    color: white;
    text-align: center;
}

p {
    text-align: center;
    font-size: 20px;
}

h1 {
    font-size: 40px;
}

button {
    border-color: black;
}
