@import 'variables.scss';

@font-face {
    font-family: Coves;
    src: url('./../fonts/CovesLight.otf');
    font-weight: normal;
}

body,
* {
    margin: 0;
    padding: 0;
    background-color: $dColor;
    font-family: 'Coves', sans-serif;
    font-size: 18px;
}

#add-btn {
    border-radius: 20px;
    border: 2px solid #7f8fa6;
    background-color: #7f8fa6;
    box-shadow: 2px 2px 5px #51697c;
    margin: 25px;
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    scrollbar-highlight-color: transparent;
}

#list-header div table {
    background-color: #7f8fa6;
    margin-bottom: 8px;

    tr {
        background-color: #7f8fa6 !important;

        td {
            background-color: #7f8fa6;
        }
    }
}

#header {
    h1 {
        display: inline-block;
        position: relative;
        left: 50%;
        top: 15px;
        transform: translate(-100%, 0);
        font-family: sans-serif;
        color: white;
        text-align: center;
        margin-bottom: 10px;
        font-size: 4em;
    }
}

#new-container-prompt {
    height: 200px;
    width: 500px;
    position: absolute;
    background-color: #51697c;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    input[type="text"] {
        position: relative;
        top: 50%;
        left: 50%;
        text-align: center;
        color:white;
        border: none;
        transform: translate(-50%, -50%);
    }

    button {
        position: absolute;
        left: 50%;
        bottom: 10px;
        font-size: 1em;
        padding: 3px 5px;
        transform: translate(-50%, 0);
    }
}

.template {
    display: none;
}

.button {
    padding: 10px;
    color: white;
    font-size: 1.5em;
    border-radius: 20px;
    text-shadow: 2px 2px black;
    margin: 5px;
}

.run-stop-toggle {
    display: inline-block;
}

.hidden {
    display: none;
}

.run-stop-on {
    background-color: rgba(0, 128, 0, 0.678);
    border-radius: 24px;
    padding: 1em 2em;
}

.run-stop-off {
    background-color: rgba(255, 0, 0, 0.678);
    border-radius: 24px;
    padding: 1em 2em;
}

.delete {
    display: inline-block;
    background-color: #7f8fa6;
    border-radius: 24px;
    padding: 1em 1.15em;
}

.content {
    margin-top: 5px;

    ul li {
        position: relative;
        list-style-type: none;
        left: 50%;
        transform: translate(-50%, 0);
        width: 97%;

        div {
            margin: 5px 0;

            table {
                width: 100%;
                table-layout: fixed;
                box-shadow: 5px 5px 4px #51697c;
                background-color: white;
                min-width: 800px;

                tr td {
                    background-color: white;
                    border-right: 1px solid black;
                    padding: 8px;
                    text-align: center;
                    word-wrap: break-word;
                    min-width: 1500px;
                }
            }
        }
    }
}