@import 'variables.scss';
@font-face {
    font-family: Coves;
    src: url('./../fonts/CovesLight.otf');
    font-weight: normal;
  }
body,
* {
    margin: 0;
    padding: 0;
    background-color: $dColor;
    font-family: 'Coves', sans-serif;
    font-size: 18px;
}

.button {
    padding: 10px;
    color: white;
    font-size: 1.5em;
    border-radius: 20px;
    text-shadow: 2px 2px black;
    margin: 5px;
}

.content {
    margin-top: 50px;

    ul li {
        position: relative;
        list-style-type: none;
        left: 50%;
        transform: translate(-50%, 0);
        width: 97%;

        div {
            margin: 5px 0;
            table {
                width: 100%;
                table-layout: fixed;
                box-shadow: 5px 5px 4px #51697c;
                background-color: white;
                min-width: 800px;
                tr td {
                    background-color: white;
                    border-right: 1px solid black;
                    padding: 8px;
                    text-align: center;
                    word-wrap: break-word;
                    min-width: 1500px;
                }
            }
        }
    }
}