@import 'variables.scss';

body,
* {
    margin: 0;
    padding: 0;
    background-color: $dColor;
}

.button {
    padding: 10px;
    color: white;
    font-size: 1.5em;
    border-radius: 20px;
    text-shadow: 2px 2px black;
    margin: 5px;
}

.content {
    margin-top: 50px;

    ul li {
        position: relative;
        list-style-type: none;
        left: 50%;
        transform: translate(-50%, 0);
        width: 97%;

        div {
            border: 0.5px solid black;
            margin: 5px 0;
            table {
                position: relative;
                width: 100%;
                box-shadow: -7px 7px 30px black;
                background-color: white;
                tr td {
                    background-color: white;
                    border-left: 3px solid black;
                    border-right: 3px solid black;
                    padding: 10px 15px;
                    text-align: center;
                }
            }
        }
    }
}